body {
  padding-top: 90px;
  padding-bottom: 90px;
  font-family: 'Arvo', serif;
}

nav {
  float:right;
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: 3px;
}

nav li{
  display: inline;
  list-style-type: none;
  padding-right: 53px;
}

nav li:last-child {
  padding-right: 0;
}

.article {
  position: relative; 
  top: -40px;
  padding-left: 200px;
}

article {
  position:relative;
}

time {
  margin-left: -100px;
  float:left;
  font-weight: bold;
}

.time, .month {
  padding-bottom: 200px;
}

a {
  color:#030303;
}

th {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebar h1 {
  letter-spacing: 3px;
  padding-left: 8px;
}


